.itemAlt, .item {
    width: 300px;
    padding: 10px;
    mix-blend-mode: multiply;
 }

.itemAlt {
    display: none;
}

@media screen and (min-width: 400px) {
    .itemAlt, .imageContainer:hover .item{
        display: none;
     }
     .item, .imageContainer:hover .itemAlt{
        display: block;
     }
 }