.shopContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/*https://i.pinimg.com/originals/22/26/a7/2226a75e1e0a44ab88864ad82e5e4aef.gif*/
.videoHeader {
    background: url('../../assets/lifestyleFront.jpg') rgb(54, 54, 54);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 340px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.videoHeader h1 {
    float: left;
    display: block;
    color: rgb(240, 176, 0);
    text-transform: uppercase;
    padding-left: 5%;
}

.titleWrapper {
    text-align: center;
}

.shopTitle {
    position: relative;
    display: inline-block;
    margin-top: 140px;
    color: rgb(240, 176, 0);
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
}

.shopContent {
    background: #e7e7e7;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 488px);
    height: 100%;
    justify-content: center;
}

@media screen and (max-width: 400px) {

    .shopTitle {
        font-size: 25px;
    }
}